## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
## 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Murdochville,CA,48.9583,-65.5006,24.30,77,92,24.00,overcast clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,-4.02,68,56,3.33,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,67.89,78,100,10.71,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,48.47,94,82,1.03,broken clouds
4,4,Bethel,US,41.3712,-73.4140,47.43,38,1,4.00,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                    & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(30)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Mahebourg,MU,-20.4081,57.7000,79.09,69,40,11.50,scattered clouds
8,8,Castro,BR,-24.7911,-50.0119,77.88,44,94,5.41,overcast clouds
10,10,Hobyo,SO,5.3505,48.5268,79.05,80,61,19.39,broken clouds
12,12,Rikitea,PF,-23.1203,-134.9692,77.49,75,72,9.28,broken clouds
13,13,Riohacha,CO,11.5444,-72.9072,86.63,55,98,14.00,overcast clouds
22,22,Sur,OM,22.5667,59.5289,72.34,57,2,7.81,clear sky
23,23,Samarai,PG,-10.6167,150.6667,81.77,81,100,12.62,overcast clouds
24,24,Sao Filipe,CV,14.8961,-24.4956,75.65,69,20,9.95,few clouds
25,25,Bandarbeyla,SO,9.4942,50.8122,77.11,80,6,24.07,clear sky
27,27,Georgetown,MY,5.4112,100.3354,81.90,80,40,8.05,scattered clouds
28,28,Sao Joao Da Barra,BR,-21.6403,-41.0511,86.09,80,77,18.41,broken clouds
31,31,Atuona,PF,-9.8000,-139.0333,78.67,78,30,18.86,scattered clouds
32,32,Bonthe,SL,7.5264,-12.5050,82.18,76,61,8.93,broken clouds
33,33,Cidreira,BR,-30.1811,-50.2056,75.43,73,14,10.42,few clouds
36,36,Butaritari,KI,3.0707,172.7902,82.08,74,98,18.01,overcast clouds
37,37,Nabire,ID,-3.3667,135.4833,76.80,90,100,3.94,light rain
41,41,Lethem,GY,3.3803,-59.7968,88.25,56,97,10.69,moderate rain
50,50,Port Elizabeth,ZA,-33.9180,25.5701,72.10,91,87,9.78,overcast clouds
51,51,Banda Aceh,ID,5.5577,95.3222,79.45,80,23,10.47,few clouds
53,53,Patrocinio,BR,-18.9439,-46.9925,80.96,69,90,6.31,overcast clouds
55,55,East London,ZA,-33.0153,27.9116,71.26,93,58,5.21,moderate rain
56,56,Tabuk,PH,17.4189,121.4443,70.56,86,100,5.14,overcast clouds
57,57,Sal Rei,CV,16.1833,-22.9167,75.76,78,75,14.97,broken clouds
58,58,Tomatlan,MX,19.9333,-105.2500,87.75,48,25,4.14,scattered clouds
61,61,Saint-Philippe,RE,-21.3585,55.7679,78.39,80,94,14.67,light rain
63,63,Vaini,TO,-21.2000,-175.2000,75.36,94,75,6.91,light rain
65,65,Salalah,OM,17.0151,54.0924,77.09,33,0,8.05,clear sky
68,68,Bathsheba,BB,13.2167,-59.5167,77.61,83,75,25.32,broken clouds
71,71,Acarau,BR,-2.8856,-40.1200,87.71,58,95,20.11,overcast clouds
72,72,Kapaa,US,22.0752,-159.3190,75.52,80,20,1.01,few clouds

In [5]:
# 4a. Determine if there are any empty rows.

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure